services:
  rplay_client:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    labels:
      - traefik.enable=true
      - traefik.http.routers.rplay_client.rule=Host(`rplay.haniking.com`)
      - traefik.http.routers.rplay_client.entrypoints=websecure
      - traefik.http.routers.rplay_client.tls.certresolver=myresolver