services:
  rplay_client:
    container_name: rplay_client
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '4173:4173'
    environment:
      - NODE_ENV=production
    labels:
      - traefik.enable=true
      - traefik.http.routers.rplay_client.rule=Host(`*.haniking.com`)
      - traefik.http.routers.rplay_client.entrypoints=websecure
      - traefik.http.routers.rplay_client.tls.certresolver=myresolver
      - traefik.http.services.rplay_client.loadbalancer.server.port=4173 # Specify internal service port for Traefik to route
    networks:
      - web

networks:
  web:
    external: true
